body{
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: .5px;
    word-wrap: break-word;
    font-weight: 400;
    background-color: #fff;
    color: #323232;
}